@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-[#232428];
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100;
  }
  .headerIcon {
    @apply cursor-pointer w-6 h-6 opacity-75 transition hover:opacity-100;
  }
  .link {
    @apply cursor-pointer relative text-[16px] font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
  }
}

.borderGradient {
  text-align: center;
  padding-bottom: 5px;
  background: linear-gradient(to right, #8a2387, #e94057, #f27121) left bottom no-repeat;
  background-size: 100% 2px;
}
